<!-- All features -->
<%- include('partials/header') %>

<!-- UI Improvement, add text background -->
<div class="container home-container">
  <div class="features">
    <div class="thumbnail" style="padding: 20px 20px 0;">
      <div class="row">
        <div class="col-md-3 zoom" onclick="location.href='/residents'">
          <div class="thumbnail">
            <img src="images/residents.png" alt="residents" style="height: 200px;">
            <div class="caption">
              <center><h3>Residents</h3></center>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 zoom" onclick="location.href='/noticeboard'">
          <div class="thumbnail">
            <img src="images/noticeboard.jpg" alt="noticeboard" style="height: 200px;">
            <div class="caption">
              <center><h3>Noticeboard</h3></center>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 zoom" onclick="location.href='/bill'">
          <div class="thumbnail">
            <img src="images/bill.jpg" alt="bill" style="height: 200px;">
            <div class="caption">
              <center><h3>Bill</h3></center>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 zoom" onclick="location.href='/helpdesk'">
          <div class="thumbnail">
            <img src="images/helpdesk.jpg" alt="helpdesk" style="height: 200px;">
            <div class="caption">
              <center><h3>Helpdesk</h3></center>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 zoom" onclick="location.href='/contacts'">
          <div class="thumbnail">
            <img src="images/emergency.jpg" alt="Emergency no's" style="height: 200px;">
            <div class="caption">
              <center><h3>Emergency No's</h3></center>
            </div>
          </div>
        </div>
        <div class="col-md-3 zoom" onclick="location.href='/profile'">
          <div class="thumbnail">
            <img src="images/user.png" alt="profile" style="height: 200px;">
            <div class="caption">
              <center><h3>Profile</h3></center>
            </div>
          </div>
        </div>
        <div class="col-md-3 zoom" onclick="location.href='/bookingAdmin'">
          <div class="thumbnail">
            <img src="images/function.jpg "alt="noticeboard" style="height: 200px;">
            <div class="caption">
              <center><h3>Function</h3></center>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 zoom" onclick="location.href='/carAdmin'">
          <div class="thumbnail">
            <img src="images/parking.jpeg" alt="bill" style="height: 200px;">
            <div class="caption">
              <center><h3>Parking</h3></center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
